<div class='flex-column text-left col-md-8 post-border p-5'>

  <h3>Edit your blog post: {{blogPost.name}}</h3>

  <form
    class='flex-column col-10'
    action='/blogs/{{blogPost.id}}/edit'
    method='post'
  >
    <label for="blogPost-name"><h4>Update your post's title:</h4></label>
    <textarea
      class='textarea-small textarea-margin'
      name='blogPost-name'
    >{{blogPost.name}}</textarea>
    <h4>Update your post's content</h4>
    <textarea
      class='white-space-wrap textarea-margin'
      name='description'
    >{{blogPost.description}}</textarea>

  <button class='col-5 btn btn-primary' type='submit'>Publish updated post</button>
  </form>

</div>


