<div class="text-left col-md-8 post-border p-5">
  <h2 class="custom-h2 mb-3">{{name}}</h2>
  <p>{{description}}</p>
  <p class="mb-5 custom-p">Posted by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary custom-button-primary">Add a comment</button>
  </p>
</div>
