<div class='flex-column text-left col-md-8 post-border p-5'>
  
  <form
    class='flex-column col-10'
    action='/comment/{{comment.id}}/edit'
    method='post'
  >
    <label for="blogPost-name"><h4>Update your comment:</h4></label>
    <textarea class="textarea-margin" name='description'>{{comment.comment_text}}</textarea>

    <button class='col-6 btn btn-primary' type='submit'>Publish updated comment</button>
  </form>

</div>