<div class='container'>
  {{#if loggedIn}}
    <h2 class='mt-5 mb-3'>Your Posts</h2>
    <p class='instruction'>Create a new post, or click on a published post to edit or delete it</p>
    {{#each this.posts}}
      <div class='row'>
        <div class='card col-8 col-sm-10 m-2 pointerCursor' data-id='{{id}}'>
          <div class='card-body'>
            <span class='float-start'>{{title}} </span>
            <span class='float-end'>{{postDate}}</span>
          </div>
        </div>
      </div>
    {{/each}}

    <div class='row mt-3 mb-1 align-items-center'>
      <div class='col-auto'>
        <button
          class='btn btn-lg btn btn-dark'
          id='new-post-button'
          onclick="location.href='/new-blog-post'"
        >Create a new post</button>
      </div>
    </div>
  {{/if}}
</div>
<script src='/js/dashboard.js'></script>