<div class='form-signin p-5'>
  <form id='signup-form'>
    <h3 class='ms-3 mb-3'>Sign up to The Tech Blog</h3>

    <div class='row m-1 align-items-center'>
      <div class='col-auto'>
        <label for='username' class='col-form-label'>Username</label>
      </div>
      <div class='col-auto'>
        <input
          type='text'
          class='form-control'
          id='username-signup'
          aria-describedby='usernameHelpInline'
        />
      </div>
      <div class='col-auto'>
        <span id='usernameHelpInline' class='form-text'>
          Your username will appear on your blog posts and comments
        </span>
      </div>
    </div>

    <div class='row m-1 align-items-center'>
      <div class='col-auto'>
        <label for='password' class='col-form-label'>Password</label>
      </div>
      <div class='col-auto ms-1'>
        <input
          type='password'
          class='form-control'
          id='password-signup'
          aria-describedby='passwordHelpInline'
        />
      </div>
      <div class='col-auto'>
        <span id='passwordHelpInline' class='form-text'>
          Must be minimum of 8 characters in length
        </span>
      </div>
    </div>
    <div class='row m-1 align-items-center'>
      <div class='col-auto'>
        <button class='btn btn-lg btn btn-dark mt-2' type='submit'>Sign Up</button>
      </div>
      <div class='col-auto'>
        <h5 class='mt-2 pt-2'>Already signed up? Go to
          <a href='/login'>log in</a></h5>
      </div>
    </div>
  </form>
</div>
<script src='/js/signup.js'></script>