header,
.blogPost:not(:last-child) {
  border-bottom: 1px solid #bfb8b9;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #730202;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #736968;
  text-decoration: underline;
}

.custom-h2 {
  color: #bf0404;
}

a,
.custom-colour {
  color: #730202;
}

a:hover {
  color: #736968;
}

.post-border {
  /* background-color: #f2f0f1; */
  border-radius: 1rem;
  border: #bfb8b9 solid;
}

.custom-h1 {
  margin-left: 7.5rem;
}

h3,
.custom-p {
  font-weight: bold;
  color: #736968;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #736968;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #736968;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

@media only screen and (max-width: 768px) {
  .custom-h1 {
    margin-left: 1rem;
  }
}
