//display the comments
{{#each comments as |comment|}}
<div class='card-body'>
  <p>
    {{comment.comment_text}}
  </p>
  <p>
    Comment by:
    {{user.name}}
    on
    {{format_date comment.date_created}}
  </p>
</div>
{{/each}}



